body {
    background-color: lightgray;
}

.title {
    position:absolute;
    left: 20px;
    width: 33%;
    min-width: 150px; 
 }
.waiting-text {
    position: relative;
    text-align: center;
}
.rate {
    margin-left:75%;
}
.converter {
    position:absolute;
    left: 55%;
    width: 20%;
}
.code {
    position:absolute;
    left: 35%;
    width: 20%;  
}
.win-listview {
    max-height: 500px;
    height: 100%;
    margin-top: 10px;
}
.win-listview .win-itembox, .win-itemcontainer .win-itembox {
    background-color: lightgray;
    line-height: 27px;
}
.win-container-even > .win-itembox {
    background-color: gray;
    margin-top: 0 !important;
}
.win-listview ._win-dynamic-containersize-0 .win-container {
    margin-top: 0px;
}
.win-listview > .win-viewport {
    max-height: 500px;
}
.list {
    height: 500px;
}
.loading-items {
    position:absolute;
    top:50%;
    left: 38%;
    width: 300px;
}
.loading-ring {
    margin-left:100px;
}

.buttons {
    margin: 10px;
    height: 25px;
    min-height: 25px;
    padding: 0;
}

.date-items {
    display: block;
    margin-bottom: 15px;
}

.start-items {
    display: block;
}

.start-items > label, .end-items > label {
    width: 210px;
    display: inline-block;
    margin-left: 15px;
}
.start-items > select, .date-items > select {
    width: 120px;
}
.end-items {
    display: block;
}

.date-items > label {
    width: 130px;
    display: inline-block;
    margin-left: 15px;
}
.end-items > select {
    width: 120px;
}
.chart {
    margin: 0 10%;
}
.currency-name {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 20px;
}
